name: Release

on:
  push:
    branches:
      - pre-release

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Pre-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup pnpm 7
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v2
        with:
          node-version: 20.x

      - name: Install Dependencies
        shell: bash
        run: pnpm i

      - name: Build
        shell: bash
        run: pnpm build

      - name: Install turbo-version
        run: pnpm i @turbo-version/version @turbo-version/release -w

      ##  We are going to replace it by a specif command to configure git environments
      - name: Temporally git user
        shell: bash
        run: git config --global user.name 'github-actions[bot]' && git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Turbo Version
        shell: bash
        run: npx @turbo-version/version

      - name: Authenticate with npm
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Turbo Release
        shell: bash
        run: pnpm -r publish --no-git-checks --filter=!docs

      - name: Push tags, and commits
        shell: bash
        run: git push --tags && git push
